BettorKnow/Service References/PremierStatisticsService/PremierStatistics3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PremierStatisticsLib.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PremierStatisticsLib.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFixtureDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FixtureDto" nillable="true" type="tns:FixtureDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFixtureDto" nillable="true" type="tns:ArrayOfFixtureDto" />
  <xs:complexType name="FixtureDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Away" nillable="true" type="tns:TeamDto" />
      <xs:element minOccurs="0" name="Home" nillable="true" type="tns:TeamDto" />
      <xs:element minOccurs="0" name="MatchDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixtureDto" nillable="true" type="tns:FixtureDto" />
  <xs:complexType name="TeamDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamDto" nillable="true" type="tns:TeamDto" />
</xs:schema>